$device-extra-small: 480px;
$device-small: 768px;
$device-medium: 1024px;
$device-large: 1280px;

// XS
@media only screen and (min-width : $device-extra-small + 1){
	
}

// S
@media only screen and (min-width : $device-small + 1){
	
}

// M
@media only screen and (min-width : $device-medium + 1){
	
}

// L
@media only screen and (min-width : $device-large + 1){
	
}